<style>
    .dp_image{
        height : 1.5em;
        width : 1.5em;
        object-fit: cover;
        border-radius: 50%;
    }
</style>

<section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2 style="margin-top:1em"><img src="{{user.displayImageUrl}}" class="dp_image" /> Profile</h2>
                            <h4>{{user.firstName}} {{user.middleName}} {{user.lastName}}</h4>
                            <p class='page-details'>Now You have all control of Medhawk</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <br/>