
 <!-- breadcrumb start-->
    <section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2 style="margin-top:1em">Create New Service</h2>
                            <h4>A service is a definition of one of the many functions of Medhawk Ems</h4>
                            <p class='page-details'>Creating a new service increases the diversity of Medhawk EMS in the field.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section style="margin-top:5em;">
    <div class="container">
        {{#if successMessage}}
            <div class="alert alert-success text-center">
                {{successMessage}}
            </div>
        {{/if}}
        {{#if errorMessage}}
            <div class="alert alert-error text-center">
                {{errorMessage}}
            </div>
        {{/if}}
        <form class='medhawk-admin-form' method="POST" to="/create-new-service">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Heading" name="heading" required>
                
            </div>
            <div class="form-group">
                <textarea name="description" id="" cols="30" rows="10" class="form-control" placeholder="Decribe the service" required></textarea>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Paste Image link here" name="imageUrl" required>
            </div>
            <input type="hidden" value="{{csrfToken}}" name="_csrf">
            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit">Create New Service</button>
            </div>
        </form>
    </div>
</section>